<!DOCTYPE html>
<html>
  <head>
    <title>Uirelator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 bg-dark">
      <div class="container">
        <div class="d-flex align-items-center justify-content-center">
          <ul class="nav col-auto me-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to "Retirement Simulator", root_path, class: "nav-link px-2" %></li>
            <li><%= link_to "About", about_path, class: "nav-link px-2 text-white" %></li>
          </ul>

          <div class="text-end">
            <button type="button" class="btn btn-secondary">
              Login to &nbsp;<%= icon(:save) %>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
